<div class="side-nav">
    <h1 class="header">
        <div><span class="special-letter">R</span>esume</div>
        <div><span class="special-letter">A</span>ssistance</div>
        <div><span class="special-letter">T</span>ool</div>
    </h1>
    <button
        class="custom-btn add-btn"
        routerLink="/job/add/0"
        [hidden]="currentPage != '/home'"
    >
        Add new job
    </button>
    <button
        class="custom-btn home-btn"
        routerLink="/home"
        [hidden]="currentPage == '/home'"
    >
        Back to home
    </button>

    <div class="filter" [hidden]="currentPage != '/home'">
        <hr />
        <div class="filter-header">FILTER BY:</div>
        <hr />

        <form [formGroup]="fg">
            <app-dynamic-input
                label="Title"
                controlName="title"
                dynamicWidth="250px"
                [formGroup]="fg"
            >
            </app-dynamic-input>
            <app-dynamic-input
                label="Skills"
                controlName="skills"
                dynamicWidth="250px"
                [formGroup]="fg"
            />
        </form>
    </div>
</div>
