.new-job-wrapper {
    display: flex;

}

.form-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: double #6b70a5 2px;
    border-top: dashed #6b70a5 1px;
    border-bottom: dashed #6b70a5 1px;
    border-radius: 10px;
    padding: 20px;


}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
}

.submit,
.home {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: .95rem;
}