.new-job-wrapper {
    display: flex;

}

.form-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
}

textarea {
    resize: none;
}

.home {
    width: 100px;
}