h1 {
    margin: 10px;
}


h1 {
    margin-top: 0px;
}

.job-page-wrapper {
    display: flex;
    gap: 50px;
}

.job-form {
    display: flex;
    flex-direction: column;
    border: double #6b70a5 5px;
    border-top: dashed #6b70a5 1px;
    border-bottom: dashed #6b70a5 1px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(235, 235, 235, 0.207);


}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    align-items: center
}


.job-form-wrapper,
.job-preview {
    display: flex;
    flex-direction: column;
}