<div class="new-job-wrapper">
    <button routerLink="/home">Back to home</button>

    <form [formGroup]="fg" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="title" placeholder="Job Title" />
        <textarea
            type="text"
            formControlName="description"
            placeholder="Description"
            rows="8"
        ></textarea>
        <input type="text" formControlName="skills" placeholder="Skills" />
        <input type="text" formControlName="jobUrl" placeholder="Job Url" />
        <button type="submit">Submit</button>
    </form>
</div>
