<div class="job-card">
    <h2>Fullstack Developer</h2>
    <div class="qualifications">
        <h3>Mentioned Skills</h3>
        <ul>
            <li>Angular</li>
            <li>.NET</li>
            <li>SQL</li>
        </ul>
    </div>

    <h3>Job Description</h3>
    <p>
        As a developer on our eCommerce team you will deliver customer-facing
        solutions using the .NET Framework and other modern web technologies in
        our rapidly evolving products. You will develop solutions built for
        sustainability and performance, and will improve the architecture to
        handle our growing customer base. You will collaborate closely with
        product managers, testers and other developers to design, test, code,
        deliver and support software within an Agile Scrum environment via
        website architecture built on a cloud infrastructure. Our websites and
        supporting applications provide the online shopping experience for Crate
        and Barrel and CB2 customers. This position requires experience in .NET
        technologies and website architecture in a highly collaborative,
        exciting, and fast paced atmosphere that requires great communication
        skills.
    </p>
</div>
