<div class="job-card">
    <div class="header">
        <h2>{{ job().title }}</h2>
        @if (!isAddingNew()) {
            <div class="header-btns">
                <a [href]="job().jobUrl" target="_blank"
                    ><button mat-icon-button>
                        <mat-icon>link</mat-icon>
                    </button></a
                >
                <button mat-icon-button (click)="onEdit()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        }
    </div>
    <div class="qualifications">
        <h3>Mentioned Skills</h3>
        @if (isAddingNew()) {
            {{ job().skills }}
        } @else {
            <ul>
                @for (s of job().skills; track $index) {
                    <li>{{ s }}</li>
                }
            </ul>
        }
    </div>

    <h3>Job Description</h3>
    <p>
        {{ job().description }}
    </p>
</div>
