main {
    display: flex;
}

.job-cards-wrapper {
    display: grid;
    margin: 0px;

}

@media screen and (min-width: 1900px) {
    .job-cards-wrapper {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (max-width:1500px) {
    .job-cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}