main {
    display: flex;
}



.job-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    border: ridge black;
    background-color: rgb(211, 211, 211, 0.6);

}