@use '@angular/material' as mat;

* {
    box-sizing: border-box;
    // margin: 0px;
}

html,
body {
    height: 100%;

}

body {
    margin: 0 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
    @include mat.snack-bar-overrides((container-color: rgb(121, 191, 121),
            supporting-text-color: white));
}


.snackbar-error {
    @include mat.snack-bar-overrides((container-color: rgb(213, 93, 93),
            supporting-text-color: white));
}

.custom-btn {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: .95rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    &:hover {
        cursor: pointer;
    }

    &:active {
        box-shadow: none;
    }
}