@use '@angular/material' as mat;

* {
    box-sizing: border-box;
    // margin: 0px;
}

html,
body {
    height: 100%;

}

body {
    margin: 0 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
    @include mat.snack-bar-overrides((container-color: rgb(121, 191, 121),
            supporting-text-color: white));
}


.snackbar-error {
    @include mat.snack-bar-overrides((container-color: rgb(213, 93, 93),
            supporting-text-color: white));
}