<div class="header-wrapper">
    <h1 class="header">
        <span class="special-letter">R</span>esume
        <span class="special-letter">A</span>ssistance
        <span class="special-letter">T</span>ool
    </h1>

    <button
        class="new-job-btn"
        routerLink="/job/add/0"
        [hidden]="currentPage != '/home'"
    >
        Add new job
    </button>
    <button
        class="home-btn"
        routerLink="/home"
        [hidden]="currentPage == '/home'"
    >
        Back to home
    </button>
</div>
